a, abbr, acronym, address, applet, b, big, blockquote, body, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
    border: 0;
    outline: 0;
    background: 0 0;
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-decoration: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $font-family-standard-font;
    font-size: $font-size-normal;
    font-weight: $font-weight-normal;
    line-height: $line-height-normal;
    color: $font-color-normal;
}

body.freeze {
    overflow: hidden;
}

// images
img {
    display: block;
    max-width: 100%;
    height: auto;
}

// THEME //
#main-content {
    overflow: hidden;
}

a:not([class]) {
    color: $font-color-normal;
    position: relative;
    width: fit-content;
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 4px;
        width: 0%;
        height: 1px;
        background-color: white;
        transition: width 0.3s ease;
    }
    &:hover {
        &::before {
            content: "";
            width: 100%;
        }
    }
}

.menu a,
.sub-menu a {
    position: static;
    width: auto;
    &::before {
        display: none;
    }
}

a.white {
    color: white;
    position: relative;
    width: fit-content;
    &::before {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 4px;
        width: 0%;
        height: 1px;
        background-color: white;
        transition: width 0.3s ease;
    }
    &:hover {
        &::before {
            content: "";
            width: 100%;
        }
    }
}