// ⚠️ Automatisch gegenereerd uit theme.json – niet handmatig aanpassen!
$color-primary: #0057b8;
$color-secondary: #e63946;

$layout-content-size: 1400px;
$layout-wide-size: 1700px;
$layout-maxwidth: 90%;
$layout-block-spacing: 30px;

$font-size-small: 1.0rem;
$line-height-small: 1.4em;
$font-weight-small: 400;
$font-color-small: #3c3c3c;

$font-size-normal: 1.2rem;
$line-height-normal: 1.4em;
$font-weight-normal: 400;
$font-color-normal: #3c3c3c;

$font-size-large: 1.8rem;
$line-height-large: 1.4em;
$font-weight-large: 400;
$font-color-large: #3c3c3c;

$font-size-extra-large: 2.4rem;
$line-height-extra-large: 1.4em;
$font-weight-extra-large: 400;
$font-color-extra-large: #3c3c3c;

$font-family-standard-font: 'Helvetica Neue', sans-serif;

$h1-font-size: 4rem;
$h1-font-weight: 700;
$h1-line-height: 1.2;
$h1-color: #0057b8;

$h2-font-size: 3.5rem;
$h2-font-weight: 600;
$h2-line-height: 1.3;
$h2-color: #0057b8;

$h3-font-size: 3rem;
$h3-font-weight: 600;
$h3-line-height: 1.3;
$h3-color: #0057b8;

$h4-font-size: 2.5rem;
$h4-font-weight: 500;
$h4-line-height: 1.4;
$h4-color: #0057b8;

$h5-font-size: 2rem;
$h5-font-weight: 500;
$h5-line-height: 1.4;
$h5-color: #0057b8;

$h6-font-size: 1.5rem;
$h6-font-weight: 500;
$h6-line-height: 1.4;
$h6-color: #0057b8;

