// ⚠️ Automatisch gegenereerd uit theme.json – niet handmatig aanpassen!
$color-primary: #000000;
$color-secondary: #D0CF00;
$color-white: #FFFFFF;
$color-background-light: #F7F6F4;
$color-accent: #DFDE04;
$color-accent-dark: #BEBD12;
$color-dark: #393232;

$layout-content-size: 1400px;
$layout-wide-size: 1600px;
$layout-maxwidth: 90%;
$layout-block-spacing: 30px;

$font-size-tag: 9px;
$line-height-tag: 75px;
$font-weight-tag: 500;
$font-color-tag: #000000;

$font-size-small: 13px;
$line-height-small: 30px;
$font-weight-small: 500;
$font-color-small: #000000;

$font-size-normal: 16px;
$line-height-normal: 30px;
$font-weight-normal: 400;
$font-color-normal: #000000;

$font-size-intro: 20px;
$line-height-intro: 35px;
$font-weight-intro: 500;
$font-color-intro: #000000;

$font-family-heading: Termina, sans-serif;
$font-family-body: 'Inter', sans-serif;

$custom-container-padding: 20px;
$custom-button-padding-v: 14px;
$custom-button-padding-h: 28px;
$custom-logo-width: 238px;
$custom-logo-height: 35px;
$custom-link-underline-color: #D0CF00;
$custom-link-underline-width: 2px;
$custom-menu-dot-color: #D0CF00;
$custom-menu-dot-size: 5px;
$custom-menu-dot-height: 4px;

$h1-font-size: 40px;
$h1-font-weight: 500;
$h1-line-height: 1.325;

$h2-font-size: 36px;
$h2-font-weight: 500;
$h2-line-height: 1.25;

$h3-font-size: 28px;
$h3-font-weight: 500;
$h3-line-height: 1.286;

$h4-font-size: 24px;
$h4-font-weight: 500;
$h4-line-height: 1.333;

$h5-font-size: 20px;
$h5-font-weight: 500;
$h5-line-height: 1.4;

$h6-font-size: 16px;
$h6-font-weight: 500;
$h6-line-height: 1.5;

