.error-page {
    &__container {
        overflow: hidden;
        max-width: $layout-content-size;
        width: $layout-maxwidth;
        margin: 50px auto 50px auto;
        position: relative;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
        gap: 0px 50px;
    }
    &__content {
        h1 {
            margin-bottom: 7px;
        }
        .mk-button {
            margin-top: 15px;
        }
    }
    &__illustration {
        border-radius: 20px;
        overflow: hidden;
    }
}