.mk-breadcrumbs {
    max-width: $layout-content-size;
    width: 100%;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $layout-block-spacing;
    }

    display: flex;
    align-items: center;
    gap: 6px;
    font-size: $font-size-small;
    color: #fff;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    strong,
    span:not(.mk-breadcrumbs-sep) {
        font-weight: 600;
        color: #fff;
    }

    &-sep {
        color: #fff;
    }
}
